html, body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("mine/fon-me.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a, article {
  margin-left: 56px;
  color:rgb(203 171 153);
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("icons/svg/envelope.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("icons/svg/phone-call.svg");
}

.header-inst {
  padding-left: 25px;
  background-image: url("icons/svg/chat.svg");
}

.header-facebook {
  padding-left: 25px;
  background-image: url("icons/svg/like.svg");
}

.header-vk {
  padding-left: 25px;
  background-image: url("icons/svg/chat-1.svg");
}

.hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}



.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-personal{
  background-image: url("icons/svg/ghost.svg");
}
.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid rgb(69, 74, 76);
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: rgb(215,208,192);
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: rgb(69, 74, 76);
  color: #ffffff;
}

.form-contact{
  max-width: 350px;
  margin: 50px auto 0;
  padding: 20px;
  background: rgb(248,247,242);
  border: 10px solid transparent;
  border-image: 10 repeating-linear-gradient(135deg, rgb(69, 74, 76), rgb(69,74,76) 10px, transparent 10px, transparent 20px, rgb(215,208,192) 20px, rgb(215,208,192) 30px,transparent 30px, transparent 40px);
  font-family: 'Playfair Display';
  color: #605756;
}

.layout-2-column {margin-bottom: 15px;}
.layout-2-column input[type="text"],
.layout-2-column input[type="email"],
.layout-2-column textarea {
  width: 100%;
  padding: 0 10px;
  line-height: 35px;
  border-width: 0;
  outline: none;
  background: transparent  bottom left repeat-x;
  background-size: 8px 35px;
  font-family: 'Playfair Display';
}
.layout-2-column textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}
.contact-me__button [type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  background: rgb(215,208,192) ;
  border-width: 0;
  cursor: pointer;
  outline: none;
  font-family: 'Playfair Display';
  font-size: 13px;
  letter-spacing: 1px;
  color: #605756;
  text-transform: uppercase;
  transition: 1s cubic-bezier(.165, .84, .44, 1);
}
.contact-me__button [type="submit"]:hover {background: rgb(150,79,76);}

.page-footer {
  padding: 40px 0;
  background-color: rgb(69, 74, 76);
  color: #ffffff;
}

.page-footer a, article {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("icons/svg/envelope.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("icons/svg/phone-call.svg");
}

.footer-inst {
  padding-left: 25px;
  background-image: url("icons/svg/chat.svg");
}

.footer-facebook {
  padding-left: 25px;
  background-image: url("icons/svg/like.svg");
}

.footer-vk {
  padding-left: 25px;
  background-image: url("icons/svg/chat-1.svg");
}
